body {
  background-image: url(bunny.jpg);

  font-family: "Kdam Thmor Pro", sans-serif;
}

main {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin-left: 25%;
  margin-right: 25%;
  min-width: 35rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
}

h1 {
  text-align: center;
  color: lightcoral;
  font-size: 50pt;
}

h3 {
  text-align: center;
  color: black;
  font-size: 20pt;
}

.taskList {
  list-style: none;
  margin-left: 0;
}

.taskInput {
  display: block;
  width: 20rem;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 10px 1px lightgrey;
  font-family: "Courier New", Courier, monospace;
  font-size: smaller;
  margin-right: 10px;
}

.addTask {
  background-color: cornflowerblue;
  border: 0;
  width: 40px;
  font-size: xx-large;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

.addTask:hover {
  background-color: lightblue;
}

.inputContainer {
  display: flex;
  padding: 1rem;
}

.list-container {
  max-width: 25rem;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.deleteTask {
  background-color: pink;
  border: 0;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 10px;
  align-self: flex-end;
}

.checkedTask {
  background-color: palegreen;
  border: 0;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 10px;
}

li {
  margin: 5 px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listItem {
  font-family: "Courier New", Courier, monospace;
  justify-content: space-between;
}
